.lolz {
  color: rgb(255, 255, 255);
  margin-top: 55px;
  margin-left: 110px;
  font-size: large;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #090d1e;
}

.prugol {
  width: 300;
  height: 150;
  background-color: rgb(70, 43, 43) ;
}

img {
  margin-left: 900px;
  margin-top: -195px;
}

p {
  margin-right: 890px;
}

.aoaz {
  color: rgb(255, 255, 255);
  margin-top: 80px;
  margin-left: 110px;
  font-size: large;
}

.aboba {
  color: rgb(255, 255, 255);
  margin-top: -250px;
  margin-left: 110px;
  font-size: large;
}